layout {
  default_tab_template {
    // the default zellij tab-bar and status bar plugins
    pane size=1 borderless=true {
        plugin location="zellij:tab-bar"
    }
    children
    pane size=2 borderless=true {
        plugin location="zellij:status-bar"
    }
  }

  tab name="DERP" {
    pane {
      command "derper"
      args "-c" "./tmp/derper-a.json" "-a" ":443" "-certmode" "manual" "-certdir" "./tmp/certs" "-hostname" "derp-a" "-mesh-psk-file" "./examples/mesh.psk" "-mesh-with" "derp-a:443,derp-b:8443,derp-c:9443" "-stun-port" "3478" "-http-port" "-1"
    }

    pane {
      command "derper"
      args "-c" "./tmp/derper-b.json" "-a" ":8443" "-certmode" "manual" "-certdir" "./tmp/certs" "-hostname" "derp-b" "-mesh-psk-file" "./examples/mesh.psk" "-mesh-with" "derp-a:443,derp-b:8443,derp-c:9443" "-stun-port" "3479" "-http-port" "-1"
    }

    pane {
      command "derper"
      args "-c" "./tmp/derper-c.json" "-a" ":9443" "-certmode" "manual" "-certdir" "./tmp/certs" "-hostname" "derp-c" "-mesh-psk-file" "./examples/mesh.psk" "-mesh-with" "derp-a:443,derp-b:8443,derp-c:9443" "-stun-port" "3480" "-http-port" "-1"
    }
  }
}
