layout {
  default_tab_template {
    // the default zellij tab-bar and status bar plugins
    pane size=1 borderless=true {
        plugin location="zellij:tab-bar"
    }
    children
    pane size=2 borderless=true {
        plugin location="zellij:status-bar"
    }
  }

  tab name="DERP" {
    pane {
      command "derper"
      args "-dev" "-hostname" "localhost"

      borderless true
    }
  }

  tab name="Coordinator" split_direction="vertical" {
    pane {
      name "Server"
      command "air"
      cwd "."
    }

    pane {
      pane {
        name "tsnet example"
        cwd "examples/tsnet"
      }
      // pane {
      //   name "Tailscaled"
      //   command "bash"
      //   args "-c" " TS_DEBUG_USE_DERP_HTTP=true sudo -E tailscaled"

      //   focus true
      // }
      pane {
        name "Tunnel"
        cwd "."

        focus true
      }
    }
  }
}
